body{
    background-color: black;
}
main{
    background-color: #3F394B;
    height: 635px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
                box-shadow: 0 0 10px #666;

}
.form{
    clear: right;
}
h1{
    color: white;
}
p{
    color: antiquewhite;
}
#mais{
    height: 10%;
    width: 10%;
    margin-left: 12%;
    margin-right: 24%;
}
#menos{
    height: 10%;
    width: 10%;
    margin-left: 37%;
    margin-right: 24%;
    margin-top: -99px;
}
#vezes{
    height: 10%;
    width: 10%;
    margin-left: 57%;
    margin-right: 24%;
    margin-top: -99px;

}
#dividir{
    height: 10%;
    width: 10%;
    margin-left: 77%;
    margin-right: 24%;
    margin-top: -99px;

}
